body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;  /* Black background */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;  /* Use Roboto font */
}

.clock {
    text-align: center;
}

#time {
    display: block;
    font-size: 12rem;
    font-weight: 800;
}

#ampm {
    display: block;
    font-size: 2rem;
    margin-top: -50px;
}
